---
layout: default
---

{% assign minutes = content | strip_html | number_of_words | divided_by: 120 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<div class="post-header mb2">
  <h1>{{ page.title }}</h1>
  <div class="post-meta">
  {% if page.author %}
  {{ page.author }} &nbsp;&bull;&nbsp;
  {% endif %}
  {% if page.date %}
  {{ page.date | date: site.date_format }} &nbsp;&bull;&nbsp;
  {% endif %}
  {% if page.update_date %}
  Updated: {{ page.update_date | date: site.date_format }} &nbsp;&bull;&nbsp;
  {% endif %}
  {% if page.minutes %}
    {{ page.minutes }} minute read
  {% else %}
    {{ minutes }} minute read
  {% endif %}
  </div>
</div>

<article class="post-content">
  {{ content }}
</article>

<div class="generic-box">
Subscribe to our <a href="/feed.xml">RSS feed</a>.
{% if site.show_sharing_icons %}
  {% include share_buttons.html %}
{% endif %}
</div>

{% if site.show_post_footers %}
  {% include post_footer.html %}
{% endif %}

{% if site.disqus_shortname %}
  <h1>Comments</h1>
	<div id="disqus_thread"></div>
	<script>
	
	/**
	*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
	/*
	var disqus_config = function () {
	this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};
	*/
	(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = 'https://https-ramcha24-github-io-blog.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
{% endif %}

{% if site.show_related_posts %}
  <h3 class="related-post-title">Related Posts</h3>
  {% for post in site.related_posts %}
    <div class="post ml2">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        <h4 class="post-title">{{ post.title }}</h4>
        <p class="post-summary">{{ post.summary }}</p>
      </a>
    </div>
  {% endfor %}
{% endif %}
